[submodule "ROS-System-Monitor"]
	path = ros_system_monitor
	url = git@github.com:MIT-SPARK/ROS-System-Monitor.git
[submodule "spark_dsg"]
	path = spark_dsg
	url = git@github.com:MIT-SPARK/Spark-DSG.git
[submodule "kimera_rpgo"]
	path = kimera_rpgo
	url = git@github.com:MIT-SPARK/Kimera-RPGO
[submodule "semantic_inference"]
	path = semantic_inference
	url = git@github.com:MIT-SPARK/semantic_inference.git
[submodule "ianvs"]
	path = ianvs
	url = git@github.com:MIT-SPARK/Ianvs
[submodule "kimera_pgmo"]
	path = kimera_pgmo
	url = git@github.com:MIT-SPARK/Kimera-PGMO.git
[submodule "hydra"]
	path = hydra
	url = git@github.com:MIT-SPARK/Hydra.git
[submodule "hydra_ros"]
	path = hydra_ros
	url = git@github.com:MIT-SPARK/Hydra-ROS.git
[submodule "spot_tools"]
	path = spot_tools
	url = git@github.com:robustrobotics/spot_tools.git
[submodule "roman"]
	path = roman
	url = git@github.com:mit-acl/ROMAN.git
[submodule "roman_ros2"]
	path = roman_ros2
	url = git@github.com:mit-acl/roman_ros
[submodule "omniplanner"]
	path = omniplanner
	url = git@github.com:MIT-SPARK/Omniplanner.git
[submodule "nlu_interface"]
	path = nlu_interface
	url = git@github.com:robustrobotics/nlu_interface.git
[submodule "hydra_multi"]
	path = hydra_multi
	url = git@github.com:MIT-SPARK/Hydra-Multi.git
[submodule "config_utilities"]
	path = config_utilities
	url = git@github.com:MIT-SPARK/config_utilities.git
[submodule "khronos"]
	path = khronos
	url = git@github.com:MIT-SPARK/Khronos.git
[submodule "dsg_analyzer"]
	path = dsg_analyzer
	url = git@github.com:MultyXu/dsg_analyzer.git
[submodule "heracles"]
	path = heracles
	url = git@github.com:GoldenZephyr/heracles.git
[submodule "heracles_agents"]
	path = heracles_agents
	url = git@github.com:GoldenZephyr/heracles_agents.git
[submodule "gps"]
	path = gps
	url = git@github.com:fishberg/ros2_gps-dcist.git
[submodule "tx_rx_monitor"]
	path = tx_rx_monitor
	url = git@github.com:fishberg/ros2_tx-rx-monitor-dcist.git
[submodule "dsg_updater"]
	path = dsg_updater
	url = git@github.com:toyat522/dsg_updater.git
[submodule "agentic_navigation"]
	path = agentic_navigation
	url = git@github.com:harelb/agentic_navigation.git
[submodule "dcist_sim"]
	path = dcist_sim
	url = git@github.com:harelb/dcist_sim.git
